@model IsoBase.Models.ClientAccBankModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientAccBankModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
