@model IsoBase.Models.KalenderOperationalModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KalenderOperationalModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayNumMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayNumMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayNumYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayNumYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayNameInd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayNameInd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNameInd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNameInd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHoliday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHoliday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
