@model IsoBase.ViewModels.LastEnrollVM

@{
    ViewData["Title"] = "Upload Plan : " + Model._clientModel.Name.ToUpper();
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken() { return Xsrf.GetAndStoreTokens(Context).RequestToken; }}


<section id="tabs" class="project-tab">
    <!-- Nav pills -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#TabPlan">Plan</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#TabCoverage">Coverage</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#TabBenefit">Benefit</a></li>
        <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li class="nav-item">
            <div align="center">
                <button type="button" class="btn btn-dark">Upload Txt</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalExcel">Upload Excel</button>
            </div>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="TabPlan" class="tab-pane active">
            <table class="table table-bordered" cellspacing="0" id="tableplan">
                <thead>
                    <tr>
                        <th>PayorCode</th>
                        <th>PlanId</th>
                        <th>CorpCode</th>
                        <th>EffectiveDate</th>
                        <th>TerminationDate</th>
                        <th>ActiveFlag</th>
                        <th>ShortName</th>
                        <th>LongName</th>
                        <th>Remarks</th>
                        <th>PolicyNo</th>
                        <th>FrequencyCode</th>
                        <th>LimitCode</th>
                        <th>MaxValue</th>
                        <th>FamilyMaxValue</th>
                        <th>PrintText</th>
                        <th>UploadDate</th>
                        <th>UserUpload</th>
                        <th>ErrorMessage</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="TabCoverage" class="tab-pane fade">
            <table class="table table-bordered" cellspacing="0" id="tablecov">
                <thead>
                    <tr>
                        <th>Plan ID</th>
                        <th>CorpCode</th>
                        <th>CoverageCode</th>
                        <th>ClientCoverageCode</th>
                        <th>ActiveFlag</th>
                        <th>FrequencyCode</th>
                        <th>LimitCode</th>
                        <th>MaxValue</th>
                        <th>FamilyValue</th>
                        <th>UploadDate</th>
                        <th>UserUpload</th>
                        <th>ErrorMessage</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="TabBenefit" class="tab-pane fade">
            <table class="table table-bordered" cellspacing="0" id="tablebenf">
                <thead>
                    <tr>
                        <th>Plan ID</th>
                        <th>CorpCode</th>
                        <th>CoverageCode</th>
                        <th>BenefitCode</th>
                        <th>ActiveFlag</th>
                        <th>ClientBenefitcode</th>
                        <th>ConditionDescription</th>
                        <th>LOA_Description</th>
                        <th>FrequencyCode</th>
                        <th>LimitCode</th>
                        <th>MaxValue</th>
                        <th>MultipleCondition</th>
                        <th>UploadDate</th>
                        <th>UserUpload</th>
                        <th>ErrorMessage</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- The Modal Upload Excel -->
<div class="modal fade" id="myModalExcel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Plan Excel</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-action="UploadFilePlan">
                    <input type="hidden" name="ClientID" asp-for="_clientModel.ID"  value="@Model._clientModel.ID" />
                    <div class="form-group">
                        <div class="file-path-wrapper">
                            <input type="file" name="Fileupload" class="file-path validate">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //=============Table Plan
        $('#tableplan').dataTable({
            "jQueryUI": true,
            buttons: [],
            initComplete: function () {
                var r = $('#tableplan tfoot tr');
                $('#tableplan thead').append(r);
                $('#search_0').css('text-align', 'center');
            },
            dom: '<"top"B>tr<"bottom"ip>',
            ajax: {
                "url": "@Url.Action("PlanUploadListByClient")",
                "type": "POST",
                data: {
                    __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                    "EnrollmentHdrID":'@Model.EnrollmentHdrModel.ID.ToString()',
                },
            },
            columns: [
                { data: "payorCode" },
                { data: "planId" },
                { data: "corpCode" },
                { data: "effectiveDate" },
                { data: "terminationDate" },
                { data: "activeFlag" },
                { data: "shortName" },
                { data: "longName" },
                { data: "remarks" },
                { data: "policyNo" },
                { data: "frequencyCode" },
                { data: "limitCode" },
                { data: "maxValue" },
                { data: "familyMaxValue" },
                { data: "printText" },
                { data: "uploadDate" },
                { data: "userUpload" },
                { data: "errorMessage" },
            ],
        });
        //=============Table Coverage
        $('#tablecov').dataTable({
            "jQueryUI": true,
            buttons: [],
            initComplete: function () {
                var r = $('#tablecov tfoot tr');
                $('#tablecov thead').append(r);
                $('#search_0').css('text-align', 'center');
            },
            dom: '<"top"B>tr<"bottom"ip>',
            ajax: {
                "url": "@Url.Action("CoverageUploadListByClient")",
                "type": "POST",
                data: {
                    __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                    "EnrollmentHdrID":'@Model.EnrollmentHdrModel.ID.ToString()',
                },
            },
            columns: [
                { data: "planId" },
                { data: "corpCode" },
                { data: "coverageCode" },
                { data: "clientCoverageCode" },
                { data: "activeFlag" },
                { data: "frequencyCode" },
                { data: "limitCode" },
                { data: "maxValue" },
                { data: "familyValue" },
                { data: "uploadDate" },
                { data: "userUpload" },
                { data: "errorMessage" },
            ],
        });
        //=============Table Benefit
        $('#tablebenf').dataTable({
            "jQueryUI": true,
            buttons: [],
            initComplete: function () {
                var r = $('#tablebenf tfoot tr');
                $('#tablebenf thead').append(r);
                $('#search_0').css('text-align', 'center');
            },
            dom: '<"top"B>tr<"bottom"ip>',
            ajax: {
                "url": "@Url.Action("BenefitUploadListByClient")",
                "type": "POST",
                data: {
                    __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                    "EnrollmentHdrID":'@Model.EnrollmentHdrModel.ID.ToString()',
                },
            },
            columns: [
                { data: "planId" },
                { data: "corpCode" },
                { data: "coverageCode" },
                { data: "benefitCode" },
                { data: "activeFlag" },
                { data: "clientBenefitcode" },
                { data: "conditionDescription" },
                { data: "loA_Description" },
                { data: "frequencyCode" },
                { data: "limitCode" },
                { data: "maxValue" },
                { data: "multipleCondition" },
                { data: "uploadDate" },
                { data: "userUpload" },
                { data: "errorMessage" },
            ],
        });

        /* Apply the search for individual columns*/
        $('#tableplan tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });
        $('#tablecov tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });
        $('#tablebenf tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });

        // Table Plan
        var tableplan = $('#tableplan').DataTable();
        // Apply the search
        tableplan.columns().every( function () {
            var that = this;
            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that.search(this.value).draw();
                }
            });
        });
        
        // table Cov
        var tablecov = $('#tablecov').DataTable();
        tablecov.columns().every( function () {
            var that = this;
            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that.search(this.value).draw();
                }
            });
        });

        // Table Benefit
        var tableBenf = $('#tablebenf').DataTable();
        tableBenf.columns().every( function () {
            var that = this;
            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that.search(this.value).draw();
                }
            });
        });
    });
</script>