@model IEnumerable<IsoBase.Models.ClientPicModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicCodeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressBuilding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicCodeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressBuilding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
